<div class="header-row row">

  <div class="container valign-wrapper">

    <div class="logo">
      <a href="https://www.temple.edu">
        <img class="" src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg">
      </a>
    </div>
    <div class="inner-row">
      <div class="header-row row">
        <div class="mast-container">

          <div class="header-column col l8 m8 s12">
            <div class="mast">

              <div class="breadcrumbs">
                <a href="https://www.temple.edu/academics/schools-and-colleges" class="breadcrumb">Explore Temple University</a>

              </div>
              <h1 class="header-title">{{ site.title }}</h1>

            </div>
            <!-- End mast -->

          </div>

          <div class="col l4 m4 s12">
            <!-- TEMPLE UNIVERSITY LOGO -->
            <div class="tu-global-menu-utility-second">
              <!-- UTILITY MENU -->
              <nav id="tu-global-menu-secondary" style="background-color:#222">
                <div class="item-list">
                  <ul class="menu clearfix">
                    <li class="tu-global-leaf tu-global-leaf-1 first first"><a href="https://admissions.temple.edu/visit" class="tu-global-visit-link">Visit</a></li>
                    <li class="tu-global-leaf tu-global-leaf-2 "><a href="https://temple.edu/admissions" class="tu-global-apply-link">Apply</a></li>
                    <li class="tu-global-leaf tu-global-leaf-3 "><a href="https://www.alumni.temple.edu/" class="tu-global-alumni-link">Alumni</a></li>
                    <li class="tu-global-leaf tu-global-leaf-4 last last"><a href="https://tuportal.temple.edu/" class="tu-global-tuportal-link">TUportal</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End column -->
  </div>
  <!-- End mast-container -->
</div>
<div class="header-row row">

  <div class="divider"></div>

</div>
<div class="navbar-spacer"></div>
<!-- end of row -->
