<div class="header-row row">

  <div class="container valign-wrapper">

    <div class="logo">
      <a href="https://www.temple.edu">
        <img class="" src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg">
      </a>
    </div>
    <div class="inner-row">
      <div class="header-row row">
        <div class="mast-container">

          <div class="header-column col l8 m8 s12">
            <div class="mast">

              <div class="breadcrumbs">
                <a href="https://www.temple.edu/academics/schools-and-colleges" class="breadcrumb">Explore Temple Univeristy</a>

                <!-- Modal Trigger -->
                <a href="#cla-modal" class="breadcrumb modal-trigger">College of Liberal Arts</a>

              </div>
              <h1 class="header-title">{{ site.title }}</h1>

            </div>
            <!-- End mast -->

          </div>

          <div class="col l4 m4 s12">


          </div>
          <!-- End column -->

        </div>
        <!-- End mast-container -->

      </div>
      <!-- End header-row row  -->

    </div>
    <!-- End div.inner-row  -->

  </div>
  <!-- container valign-wrapper -->

</div>

<div class="header-row row">

  <div class="divider"></div>

</div>
<div class="navbar-spacer"></div>
<!-- end of row -->

<!-- BEGIN SIDENAV -->
<
<!-- END SIDENAV -->

<!-- Modal Structure -->
<
<!-- END MODAL -->
