<div class="header-row row">

  <div class="container valign-wrapper">

    <div class="logo">
      <a href="https://www.temple.edu">
        <img class="" src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg">
      </a>
    </div>
    <div class="inner-row">
      <div class="header-row row">
        <div class="mast-container">

          <div class="header-column col l8 m8 s12">
            <div class="mast">

              <div class="breadcrumbs">
                <a href="https://www.temple.edu/academics/schools-and-colleges" class="breadcrumb">Explore Temple Univeristy</a>

              </div>
              <h1 class="header-title">{{ site.title }}</h1>

            </div>
            <!-- End mast -->

          </div>

          <div class="col l4 m4 s12">
            <div id="tu-global-stage-second">

                    <div id="tu-global-menu-utility" class="clearfix">
                      <div class="tu-global-menu-utility-pre clearfix">
                        <div class="tu-global-menu-utility-first">
                          <!-- TEMPLE UNIVERSITY LOGO -->
                          <a href="https://www.temple.edu/academics/schools-and-colleges" class="tu-global-school-college-link">Explore Temple's Schools and Colleges</a>            </div>
                        <div class="tu-global-menu-utility-second">
                          <!-- UTILITY MENU -->
                          <nav id="tu-global-menu-secondary"><div class="item-list"><ul class="menu clearfix"><li class="tu-global-leaf tu-global-leaf-1 first first"><a href="https://admissions.temple.edu/visit" class="tu-global-visit-link">Visit</a></li>
            <li class="tu-global-leaf tu-global-leaf-2 "><a href="https://temple.edu/admissions" class="tu-global-apply-link">Apply</a></li>
            <li class="tu-global-leaf tu-global-leaf-3 "><a href="https://www.alumni.temple.edu/" class="tu-global-alumni-link">Alumni</a></li>
            <li class="tu-global-leaf tu-global-leaf-4 last last"><a href="https://tuportal.temple.edu/" class="tu-global-tuportal-link">TUportal</a></li>
            </ul></div></nav>            </div>
                      </div>
                      <div class="tu-global-menu-utility-post">
                        <a href="https://www.giving.temple.edu/" class="tu-global-support-link">Support Temple</a>
                      </div>
                    </div>

                    <div id="tu-global-branding" class="clearfix">
                      <h1 class="tu-global-site-name"><a href="/" title="Home"><span class="tu-global-site-name-char-0">T</span><span class="tu-global-site-name-char-1">e</span><span class="tu-global-site-name-char-2">m</span><span class="tu-global-site-name-char-3">p</span><span class="tu-global-site-name-char-4">l</span><span class="tu-global-site-name-char-5">e</span>&nbsp;<span class="tu-global-site-name-char-7">U</span><span class="tu-global-site-name-char-8">n</span><span class="tu-global-site-name-char-9">i</span><span class="tu-global-site-name-char-10">v</span><span class="tu-global-site-name-char-11">e</span><span class="tu-global-site-name-char-12">r</span><span class="tu-global-site-name-char-13">s</span><span class="tu-global-site-name-char-14">i</span><span class="tu-global-site-name-char-15">t</span><span class="tu-global-site-name-char-16">y</span></a></h1>          <div class="tu-global-search">
                        <form action="https://search.temple.edu/search.php" id="templesearch" method="get" name="templesearch" target="_top"><div class="form-item-search-block-form"><label for="search">Search Site</label><input id="search" name="searchString" size="25" value="Search" aria-label="Search Site" type="text" class="inactive"></div><div class="form-actions"><a href="#" tabindex="0" role="button" aria-label="Search Site">Search</a><input type="submit" value="Search" title="Search Site"></div></form>          </div>
                    </div>
                  </div>

          </div>
          <!-- End column -->

        </div>
        <!-- End mast-container -->

      </div>
      <!-- End header-row row  -->

    </div>
    <!-- End div.inner-row  -->

  </div>
  <!-- container valign-wrapper -->

</div>

<div class="header-row row">

  <div class="divider"></div>

</div>
<div class="navbar-spacer"></div>
<!-- end of row -->

<!-- BEGIN SIDENAV -->

<!-- END SIDENAV -->

<!-- Modal Structure -->

<!-- END MODAL -->
