---
layout: page
permalink: /cards/
---

{% include cards/card-basic.html title="Card Title" content="Be nice, or else" %}

{% include cards/card-image.html size="medium" title="Card Title" content="Be nice, or else" image="http://materializecss.com/images/sample-1.jpg" %}

{% include cards/card-horizontal.html title="Card Title" content="Be nice, or else" image="http://lorempixel.com/100/190/nature/6" %}

{% include cards/card-panel.html content="I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks." %}


