---
layout: page
permalink: /
---


<div class="welcome-note">
  <div class="row">
    <h3>Welcome</h3>
    <h1>Department of {{ site.title }}</h1>
  </div>
</div>


<div class="row">
  <div class="col m9">
    <p class="lead">
    </p>
    <p>
    </p>
  </div>
  <div class="col m3">
    <p>Courses you could take:
    </p>
  </div>
</div>

<h1>Perspective Students</h1>
<div class="row">

  <div class="col s12 m4">
    {% include cards/card-image.html title="Schedule a Tour" content="Be nice, or else" image="https://unsplash.it/500/300" %}
  </div>
  <div class="col s12 m4">
    {% include cards/card-image.html title="Financial Aid &amp; Scholarships" content="Be nice, or else" image="https://unsplash.it/502/302" %}
  </div>
  <div class="col s12 m4">
    {% include cards/card-image.html title="Study &amp; Research Abroad" content="Be nice, or else" image="https://unsplash.it/498/298" %}`
  </div>

</div>

<h1>Posts</h1>
<div class="row">
  {% for post in site.posts %}
    <div class="col s12 m4 l3">
      {% include cards/card-basic.html title=post.title content="" image="" %}
    </div>
  {% endfor %}
</div>
<!--  <ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      </h2>
    </li>
  {% endfor %}
</ul> -->

<h1>Events</h1>
<div class="row">
  <div class="col s12 m4 l3">
    {% include cards/card-event.html title="Featured event:<br>May 24, 2016<br>7-11pm" color="blue" icon="event" %}
  </div>
  <div class="col s12 m4 l3">
    {% include cards/card-event.html title="Featured event:<br>May 24, 2016<br>7-11pm" color="red" image="/assets/img/placeholder/flower3.jpeg" icon="movie" %}
  </div>
</div>
