<div class="card {{ include.size }}">
  <div class="overlay-unit {{ include.color }}"></div>
  <div class="card-content">
    {% if include.title %}<h3 class="card-title">{{ include.title }}</h3>{% endif %}
    <p>{{ include.content }}</p>
  </div>
  <div class="card-action">
    <span class="card-meta">{{ include.meta }}</span>
    <!-- <a href="#" class="waves-effect">This is a link</a> -->
    {% if include.button-text %}
    <a href="{{ include.button-link }}" class="waves-effect">{{ include.button-text }}</a>
    {% endif %}
  </div>
</div>
