<div class="program card row">
<div class="col s12 m3">
  <a href="https://www.cla.temple.edu/neuroscience/" target="_blank"><img src="http://dev.cla.temple.edu/temple-neuroscience/media/cla2014c.jpg" alt="Logo for the College of Liberal Arts" style="width:90%;"></a>
</div>

<div class="col s12 m9">
  <p>
    
The College of Liberal Arts Neuroscience Program Our neuroscience degree program teaches students to explore neural and brain function at multiple levels in a rapidly growing field. Our students study the neural basis of addiction, developmental disorders, ADHD, depression, anxiety, age-related disorders and much more.
  
  </p>
</div>
</div>
