<nav class="university-nav">
  <div class="container">
    <ul class="left">
      <li>
        <a class="university-title hide-on-small-and-down waves-effect" href="{{ site.university.url }}/"><img src="{{ '/assets/img/logos/temple-university-logo.svg' | prepend: site.university.url }}" alt="Temple University Logo"></a>
        <a class="university-title show-on-small hide-on-med-and-up waves-effect" href="{{ site.university.url }}/"><img src="{{ '/assets/img/logos/temple-university-icon.svg' | prepend: site.university.url }}" alt="Temple University Logo"></a>
      </li>
      <li>
        <a class="college-title waves-effect show-on-large hide-on-med-and-down" college-dropdown-toggle="true">College of Liberal Arts <i class="material-icons college-droptown-toggle-arrow">arrow_drop_down_circle</i></a>
        <a class="college-title waves-effect show-on-medium hide-on-large-only hide-on-small-only" college-dropdown-toggle="true">CLA <i class="material-icons college-droptown-toggle-arrow">arrow_drop_down_circle</i></a>
        <a class="college-title waves-effect show-on-small hide-on-med-and-up" href="https://liberalarts.temple.edu/">CLA</a>
      </li>
    </ul>
    <form class="right" action="https://search.temple.edu/search.php" id="templesearch" method="get" name="templesearch">
      <div class="input-field">
        <input id="search" name="searchString" placeholder="Search Temple" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <label for="submit" onclick="document.getElementById('templesearch').submit();"><i class="material-icons">arrow_forward</i></label>
      </div>
    </form>
    <ul class="right">
      {% comment %}<!-- Alert chip example!
      <li>
        <a class="chip yellow alert" href="https://news.temple.edu/announcements/2016-10-28/possible-septa-strike" style="background-image:repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 40px)">
          <strong>
            <i class="material-icons">warning</i>SEPTA Strike Info &amp; Services
          </strong>
        </a>
      </li> -->{% endcomment %}
      <li><a href="http://admissions.temple.edu/visit" class="tu-global-visit-link waves-effect">Visit</a></li>
      <li><a href="http://temple.edu/admissions" class="tu-global-apply-link waves-effect">Apply</a></li>
      <li><a href="http://www.alumni.temple.edu/s/705/alumni/16/home.aspx" class="tu-global-alumni-link waves-effect">Alumni</a></li>
      <li><a href="https://tuportal4.temple.edu/cp/home/displaylogin" class="tu-global-tuportal-link waves-effect">TUPortal</a></li>
    </ul>
  </div>
</nav>
