<div class="university row">
  <div class="col m6">
    <!-- begin small T -->
    <div class="small-image-box hide-on-large-only show-on-medium-and-down left">
  <a href="temple.edu">
  <img src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg" />
</a>
</div>
<!-- end small T -->
<!-- begin big T -->
<div class="big-image-box hide-on-med-and-down show-on-large left">
  <a href="temple.edu">
  <img src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg" />
</a>
<!-- end big T -->
</div>
    <a>Temple University</a><span>></span>
    <a>College of Liberal Arts</a><span>></span>
  </div>
  <!-- can become an include -->
  <div class="col m6 hide-on-small-only right-align">
    <a href="https://admissions.temple.edu/visit" class="">Visit</a></li>
    <a href="https://temple.edu/admissions" class="">Apply</a></li>
    <a href="https://www.alumni.temple.edu/" class="">Alumni</a></li>
    <a href="https://tuportal.temple.edu/" class="">TUportal</a></li>
  </div>
</div>
