<!--
<div class="college">
  <div class="container">
    <a class="college-title" href="{{ site.baseurl }}/">{{ site.college }}</a>
  </div>
</div>
-->
<div class="college-nav">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <a class="college-title" href="{{ site.baseurl }}/">{{ site.college }}</a>
        <br>
        <h1>
          <a class="program-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
      </div>
      <div class="col l1 s4 college-link">
        <a href="https://liberalarts.temple.edu/about-us/newsroom">
          <i class="material-icons">description</i>
          <br>
          News
        </a>
      </div>
      <div class="col l1 s4 college-link">
        <a href="https://events.temple.edu/department/college-of-liberal-arts">
          <i class="material-icons">event</i>
          <br>
          Events
        </a>
      </div>
      <div class="col l1 s4 college-link college-link-heart">
        <a href="http://www.giving.temple.edu/givetocla">
          <img src="/images/icons/heart-red.svg" alt="Heart" height="24" width="24">
          <br>
          Give
        </a>
      </div>
    </div>
  </div>
</div>
