<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <ul>
            <li class="white-text"><strong>Temple University</strong></li>
            <li class="white-text"><strong>College of Liberal Arts</strong></li>
            <li>&nbsp;</li>
            <li class="grey-text">Anderson Hall</li>
            <li class="grey-text">1114 Polett Walk</li>
            <li class="grey-text">Phialdelphia, PA 19122</li>
        </ul>
      </div>
      <div class="col l4 s12">
        <ul>
            <li class="white-text">
              <a href="#">Cherry and White Directory</a>
            </li>
            <li>
              <a href="#">Maps and Directions</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" title="Temple Liberal Arts on Facebook" href="https://www.facebook.com/templeliberalarts/" target="_blank">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" title="Temple Liberal Arts on Twitter" href="https://twitter.com/tuliberalarts" target="_blank">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" title="Temple Liberal Arts on Instagram" href="https://www.instagram.com/tuliberalarts" target="_blank">Instagram</a</li>
          <li><a class="grey-text text-lighten-3" href="#!">email</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; Copyright 2016 Temple University. All rights reserved.
    </div>
  </div>
</footer>
