<footer class="page-footer">
  <div class="container">
    <ul>
      <li class="white-text taller"><strong>TEMPLE UNIVERSITY</strong></li>
      <li class="white-text"><strong>College of Liberal Arts</strong></li>
    </ul>
    <div class="row">
      <div class="col l4 s12">
        <ul>
            <li class="grey-text">Anderson Hall</li>
            <li class="grey-text">1114 Polett Walk</li>
            <li class="grey-text">Phialdelphia, PA 19122</li>
        </ul>
      </div>
      <div class="col l4 s12">
        <ul>
            <li>
              <a href="https://directory.temple.edu/" class="white-text">Directory</a>
            </li>
            <li>
              <a href="#" class="white-text">Maps and Directions</a>
            </li>
            <li>
              <a href="#" class="white-text">Contact Us</a>
            </li>
        </ul>
      </div>
      <div class="col l4 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" title="Temple Liberal Arts on Facebook" href="https://www.facebook.com/templeliberalarts/" target="_blank">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" title="Temple Liberal Arts on Twitter" href="https://twitter.com/tuliberalarts" target="_blank">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" title="Temple Liberal Arts on Instagram" href="https://www.instagram.com/tuliberalarts" target="_blank">Instagram</a</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; Copyright 2016 Temple University. All rights reserved.
    </div>
  </div>
</footer>
