<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if site.google_tag_manager %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.google_tag_manager }}');</script> {% endif %}
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}">
  <title>{% if page.layout == "home" %}{{ site.title | escape }}{% if site.college.name %} - {{ site.college.name | escape }}{% endif %}{% elsif page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i|Open+Sans:400,700|Open+Sans+Condensed:700&subset=latin-ext,latin" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
</head>
  <!--
  ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  '''''''''''''''''''''''''''''''''''
  '''''''''''''''''''''''''''''''''''
  '''                             '''
  '''                             '''
  '''   ''''''''''   ''''''''''   '''
  '''   ''''''''''   ''''''''''   '''
  '''   '''    '''   '''    '''   '''
  '''   '''    '''   '''    '''   '''
  ...   ...    '''   '''    ...   ...
               '''   '''
               '''   '''
               '''   '''
               '''   '''
               '''   '''
               '''   '''
               '''   '''
           '''''''   ''''''''
           '''''''   ''''''''


           ''''''''''''''''''
           ''''''''''''''''''
  -->
