<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if site.google_tag_manager %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.google_tag_manager }}');</script> {% endif %}
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Ads: 961589169 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-961589169"></script>
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-961589169');
gtag('config', 'AW-961589169');</script>
  {% if page.event_snippit %}
    {{ event_snippit_content }}
  {% endif %}
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}">
    {% if page.layout == "tla_home" %}
    <title>{{ site.title}} | {{ site.university.name }}</title>
    {% else %}
     <title>{{ page.title}} | {{ site.title}}</title>
    {% endif %}
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/ikd0hbb.css">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
</head>
  <!--
  ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  '''''''''''''''''''''''''''''''''''
  '''''''''''''''''''''''''''''''''''
  '''                             '''
  '''                             '''
  '''   ''''''''''   ''''''''''   '''
  '''   ''''''''''   ''''''''''   '''
  '''   '''    '''   '''    '''   '''
  '''   '''    '''   '''    '''   '''
  ...   ...    '''   '''    ...   ...
               '''   '''
               '''   '''
               '''   '''
               '''   '''
               '''   '''
               '''   '''
               '''   '''
           '''''''   ''''''''
           '''''''   ''''''''


           ''''''''''''''''''
           ''''''''''''''''''
  -->
