<div class="row">
  <div class="container">

      <div class="logo col">
        <a href="https://www.temple.edu">

        </a>
      </div>
      <div class="mast col s8 m10 l11">
        <div class="breadcrumbs hide-on-small-only">
          <a href="https://www.temple.edu/academics/schools-and-colleges">Explore Temple Univeristy</a>
          <span> > </span>
          <a href="liberalarts.temple.edu">College of Liberal Arts</a>
        </div>

        <h1 class="">Master’s of Public Policy</h1>
      </div>
      
    </div>
</div>
