<div class="row">
  <div class="container">

      <div class="logo">
        <a href="https://www.temple.edu">
          <img src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg"/>
        </a>
      </div>
      <div class="mast flex-container">
        <div class="breadcrumbs hide-on-small-only">
          <a href="https://www.temple.edu/academics/schools-and-colleges">Explore Temple Univeristy</a>
          <span> > </span>
          <a href="liberalarts.temple.edu">College of Liberal Arts</a>
        </div>

        <h1>Master’s of Public Policy</h1>
      </div>
      
    </div>
</div>
