<div class="row">
  <div class="container valign-wrapper">
     <div class="logo">
      <a href="https://www.temple.edu">
        <img class="" src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg"/>
      </a>
    </div>

    <div class="mast">
      <div class="breadcrumbs hide-on-small-only">
        <a href="https://www.temple.edu/academics/schools-and-colleges" class="breadcrumb">Explore Temple Univeristy</a>
        <a href="liberalarts.temple.edu" class="breadcrumb">College of Liberal Arts</a>
      </div>
      <h1 class="header-title">{{ page.title }}</h1>
    </div>

  </div>
</div>
