{% assign current = page.url | downcase | split: '/' %}
<nav class="program-nav">
  <div class="container">
    <ul>
      <li><a href='/undergraduate' {% if current[1] == 'undergraduate' %}class='current'{% endif %}>Undergraduate</a></li>
      <li><a href='/graduate' {% if current[1] == 'graduate' %}class='current'{% endif %}>Graduate</a></li>
      <li><a href='/faculty' {% if current[1] == 'faculty' %}class='current'{% endif %}>Faculty</a></li>
      <li><a href='/resources' {% if current[1] == 'resources' %}class='current'{% endif %}>Resources</a></li>
    </ul>
  </div>
</nav>
