<header class="tla-header">
  <div class="university row">
    <div class="col m6">
      <a>Temple University</a><span>></span>
      <a>College of Liberal Arts</a><span>></span>
    </div>
    <div class="col m6 hide-on-small-only right-align">
      <a href="https://admissions.temple.edu/visit" class="">Visit</a></li>
      <a href="https://temple.edu/admissions" class="">Apply</a></li>
      <a href="https://www.alumni.temple.edu/" class="">Alumni</a></li>
      <a href="https://tuportal.temple.edu/" class="">TUportal</a></li>
    </div>
  </div>

  <div class="program valign-wrapper">
        <div class="small-image-box hide-on-large-only show-on-medium-and-down left">
      <a href="temple.edu">
      <img src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg" />
    </a>
    </div>

    <div class="program-title-small hide-on-large-only show-on-medium-and-down">
      <h1 class="valign-wrapper flow-text">Africology and African American Studies</h1>
    </div>

    <div class="big-image-box hide-on-med-and-down show-on-large left">
      <a href="temple.edu">
      <img src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg" />
    </a>

    </div>

    <div class="program-title-big hide-on-med-and-down show-on-large valign-wrapper left">
      <h1 class="flow-text">Africology and African American Studies</h1>
    </div>
  </div>
  <nav class=" nav-extended row">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <div class="nav-wrapper">
      

      <ul id="" class="left">
        <li><a href="/undergraduate">Undergraduate</a></li>
        <li><a href="/graduate">Graduate</a></li>
        <li><a href="/faculty">Faculty</a></li>
        <li><a href="/faculty">Student Life</a></li>
        <li><a href="/faculty">Next Stops</a></li>
        <li><a href="/faculty">Six</a></li>
        <li><a href="/faculty">Seven</a></li>
      </ul>
    </div>
  </nav>

</header>
