<div id="tla-header">
  <ul class="row collapsible">
    <li>
      <div>
        <div class="col image">
          <a href="temple.edu">
            <img src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg" />
        </a>
        </div>
        <a class="university" href="#">Temple Univeristy</a>
      </div>
      <div class="college collapsible-header">
        <p>College of Liberal Arts</p>
      </div>
      <div class="collapsible-body">
        <div class="row">
          <ul class="collection col s12 m3">
            <li class="collection-header"><a href="/news/africology-and-african-american-studies">College of Liberal Arts</a></li>
            <li class="collection-item"><a href="/news/american-studies">About Us</a></li>
            <li class="collection-item"><a href="/news/anthropology">Admissions</a></li>
            <li class="collection-item"><a href="/news/arabic">Current Students</a></li>
            <li class="collection-item"><a href="/news/arabic">Departments</a></li>
            <li class="collection-item"><a href="/news/arabic">Faculty</a></li>
            <li class="collection-item"><a href="/news/arabic">Research</a></li>
            <li class="collection-item"><a href="/news/arabic">Alumni</a></li>
            <li class="collection-item"><a href="/news/arabic">Events</a></li>
            <li class="collection-item"><a href="/news/arabic">News</a></li>
          </ul>

          <ul class="col s12 m9 collection">
            <li class="First collection-item"><a href="/news/africology-and-african-american-studies">Africology and African American Studies</a></li>
            <li class="collection-item"><a href="/news/american-studies">American Studies</a></li>
            <li class="collection-item"><a href="/news/anthropology">Anthropology</a></li>
            <li class="collection-item"><a href="/news/arabic">Arabic</a></li>
            <li class="collection-item"><a href="/news/asian-studies">Asian Studies</a></li>
            <li class="collection-item"><a href="/news/chinese">Chinese</a></li>
            <li class="collection-item"><a href="/news/creative-writing">Creative Writing</a></li>
            <li class="collection-item"><a href="/news/environmental-studies">Environmental Studies</a></li>
            <li class="collection-item"><a href="/news/french">French</a></li>
            <li class="collection-item"><a href="/news/gender-sexuality-and-women-s-studies">Gender, Sexuality and Women’s Studies</a></li>
            <li class="collection-item"><a href="/news/geographic-information-systems">Geographic Information Systems</a></li>
            <li class="collection-item"><a href="/news/geography-and-urban-studies">Geography and Urban Studies</a></li>
            <li class="collection-item"><a href="/news/german">German</a></li>
            <li class="collection-item"><a href="/news/global-studies">Global Studies</a></li>
            <li class="collection-item"><a href="/news/greek-and-roman-classics">Greek and Roman Classics</a></li>
            <li class="collection-item"><a href="/news/history">History</a></li>
            <li class="collection-item"><a href="/news/intellectual-heritage">Intellectual Heritage</a></li>
            <li class="collection-item"><a href="/news/italian">Italian</a></li>
            <li class="collection-item"><a href="/news/japanese">Japanese</a></li>
            <li class="collection-item"><a href="/news/jewish-studies">Jewish Studies</a></li>
            <li class="collection-item"><a href="/news/latin-american-studies">Latin American Studies</a></li>
            <li class="collection-item"><a href="/news/liberal-studies">Liberal Studies</a></li>
            <li class="collection-item"><a href="/news/neuroscience">Neuroscience</a></li>
            <li class="collection-item"><a href="/news/philosophy">Philosophy</a></li>
            <li class="collection-item"><a href="/news/political-science">Political Science</a></li>
            <li class="collection-item"><a href="/news/portuguese">Portuguese</a></li>
            <li class="collection-item"><a href="/news/psychology">Psychology</a></li>
            <li class="collection-item"><a href="/news/public-policy">Public Policy</a></li>
            <li class="collection-item"><a href="/news/religion">Religion</a></li>
            <li class="collection-item"><a href="/news/russian">Russian</a></li>
            <li class="collection-item"><a href="/news/sociology">Sociology</a></li>
            <li class="collection-item last"><a href="/news/spanish">Spanish</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
{% include nav/nav-college.html %}
{% include nav/nav-program.html %}
