<!-- <header class="tla-header"> -->

<div class="row">

  <div class="container valign-wrapper">

    <div class="logo">
      <a href="https://www.temple.edu">
        <img class="" src="https://www.temple.edu/sites/all/modules/tu_global/images/svg/temple-logo-t-box.svg"></a>
    </div>
    <div class="inner-row">
      <div class="row">
        <div class="mast-container">

          <div class="col l8 m8 s12">
            <div class="mast">

              <div class="breadcrumbs">
                <a href="https://www.temple.edu/academics/schools-and-colleges" class="breadcrumb">Explore Temple Univeristy</a>
                <a href="#" class="breadcrumb" college-dropdown-toggle="true">College of Liberal Arts</a>
              </div>
              <h1 class="header-title">Anthropology</h1>

            </div>
            <!-- End mast -->

          </div>

          <div class="icon-column col l4 m4 s12">

            <div class="college-link-set hide-on-med-and-down">

              <div class="menu-link college-link center-align">

                <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons">menu</i><br>
                  Menu
                </a>

              </div>
              <div class="college-link center-align">
                <a href="https://liberalarts.temple.edu/news/psychology" target="_blank">
                  <i class="material-icons">description</i><br>
                  News
                </a>

              </div>

              <div class="college-link center-align">

                <a href="https://events.temple.edu/department/college-of-liberal-arts" target="_blank">
                  <i class="material-icons">event</i><br>
                  Events
                </a>

              </div>

              <div class="college-link center-align">
                <a href="#" target="_blank">
                  <!-- <img src="/psychology/assets/img/icons/heart-red.svg" alt="Heart" height="20" width="20"><br> -->
                  <i class="material-icons">school</i><br> Apply
                </a>
              </div>
            </div>

          </div>
          <!-- End column -->

        </div>
        <!-- End mast-container -->

      </div>

    </div>
    <!-- End row -->

  </div>
</div>

<div class="row">

  <div class="divider"></div>

  <div class="container valign-wrapper">
    <nav class="program-nav hide-on-med-and-down">

      <div class="container">
        <ul>
          <li class="active"><a href="/psychology/" title="Program Homepage" class="home-link waves-effect"><i class="material-icons">home</i></a></li>

          <li><a href="/psychology/undergraduate/" class="waves-effect current">Undergraduate</a></li>

          <li><a href="/psychology/graduate/" class="waves-effect current">Graduate</a></li>

          <li><a href="/psychology/faculty/" class="waves-effect current">Faculty</a></li>

          <li><a href="/psychology/student-life/" class="waves-effect current">Student Life</a></li>

          <li><a href="/psychology/research/" class="waves-effect current">Research</a></li>

          <li><a href="/psychology/clinical-services/" class="waves-effect current">Clinical Services</a></li>

          <li><a href="/psychology/next-stops/" class="waves-effect current">Next Stops</a></li>

        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- end of row -->

<div class="college-link-set-mobile hide-on-large-only center-align">

  <div class="row">
    <div class="container">
      <div class="col s12 m12">
        <div class="row college-link-mobile-inner-row">
          <div class="col s3 m3">
            <div class="menu-link-mobile college-link center-align">
              <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i><br>
                <div class="menu-link-mobile-text">Menu</div>
              </a>
            </div>
          </div>

          <div class="col s3 m3">
            <div class="college-link-mobile center-align">
              <a href="https://liberalarts.temple.edu/news/psychology" target="_blank">
                <i class="material-icons">description</i><br>
                News
              </a>
            </div>
          </div>
          <div class="col s3 m3">
            <div class="college-link-mobile center-align">

              <a href="https://events.temple.edu/department/college-of-liberal-arts" target="_blank">
                <i class="material-icons">event</i><br>
                Events
              </a>

            </div>
          </div>
          <div class="col s3 m3">
            <div class="college-link-mobile center-align">
              <a href="#" target="_blank">

                <i class="material-icons">school</i><br> Apply
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BEGIN SIDENAV -->
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="">
      </div>
    </div>
  </li>
  <li>
    <a href="/psychology/" title="Program Homepage" class="home-link"><i class="material-icons">home</i>Home</a></li>
  <li><a href="/psychology/undergraduate/" class="waves-effect current">Undergraduate</a></li>

  <li><a href="/psychology/graduate/" class="waves-effect current">Graduate</a></li>

  <li><a href="/psychology/faculty/" class="waves-effect current">Faculty</a></li>

  <li><a href="/psychology/student-life/" class="waves-effect current">Student Life</a></li>

  <li><a href="/psychology/research/" class="waves-effect current">Research</a></li>

  <li><a href="/psychology/clinical-services/" class="waves-effect current">Clinical Services</a></li>

  <li><a href="/psychology/next-stops/" class="waves-effect current">Next Stops</a></li>
</ul>

<!-- </header> -->
