
<div>
  <a class="university-title" href="{{ site.baseurl }}/">{{ site.university }}</a>
</div>
<nav class="university-nav">

  <ul>
    <li><a href='http://temple.edu/admissions' class='tu-global-apply-link'>Apply</a></li>
    <li><a href='http://admissions.temple.edu/visit' class='tu-global-visit-link'>Visit</a></li>
    <li><a href='https://directory.temple.edu/'>Directory</a></li>
    <li><a href='http://www.alumni.temple.edu/s/705/alumni/16/home.aspx' class='tu-global-alumni-link'>Alumni</a></li>
  </ul>
</nav>
