# Can be overwritten on a per-site basis


/* 1. Colors
   ========================================================================== */

$primary-color: $tu-cherry;
$primary-color-light: $tu-bright-cherry;
$primary-color-dark: $tu-slate;

$secondary-color: $tu-charcoal;
$success-color: $tu-olive;
$error-color: $tu-alert;
$link-color: $tu-cherry;

