$tu-cherry: rgb(164,30,53); // Temple Cherry Red
$tu-charcoal: rgb(34,34,34); // Charcoal

$tu-bright-cherry: rgb(226,25,38); // Bright Cherry Red
$tu-olive: rgb(116,151,21); // OliveDrab
$tu-denim: rgb(19,120,221); // Sky Blue
$tu-seagreen: rgb(26,150,130); // Sea Green
$tu-gold: rgb(252,180,38); // Gold
$tu-slate: rgb(137,145,151); // Slate
$tu-purple: rgb(156,38,143); // Purple
$tu-alert: rgb(255,221,0); // TU Alert Yellow
$tu-black: rgb(14,16,20); // Temple Black

$tu-light-gray: #f1f1f1; // Light Gray

$colorsb: (
  "materialize-red": $tu-cherry,
  "red": $tu-cherry,
  // "pink": $pink,
  "purple": $tu-purple,
  // "deep-purple": $deep-purple,
  // "indigo": $indigo,
  "blue": $tu-denim,
  // "light-blue": $light-blue,
  // "cyan": $cyan,
  "teal": $tu-seagreen,
  "green": $tu-olive,
  // "light-green": $light-green,
  // "lime": $lime,
  "yellow": $tu-alert,
  "amber": $tu-gold // ,
  // "orange": $orange,
  // "deep-orange": $deep-orange,
  // "brown": $brown,
  // "blue-grey": $blue-grey,
  // "grey": $grey,
  // "shades": $shades
);

// Color Classes

@each $color_nameb, $colorb in $colorsb {
  .#{$color_nameb} {
    background-color: $colorb !important;
  }
  .#{$color_nameb}-text {
    color: $colorb !important;
  }
}
