// Content only
.content {
  max-width: 1080px;
  margin: auto;
  ul {
    li {
      &:before {
        content: "● ";
        color: $tu-cherry;
        margin: 0 1em;
      }
    }
  }
}
// People bios
.person {
  padding-left: 150px;
  margin-bottom: 1rem;
  &-photo {
    text-align: right;
    img {
      float: left;
      // margin-top: 60px;
      margin-top: .5rem;
      width: 120px;
      max-height: 150px;
      border-radius: 4px;
      
      background-color: whitesmoke;
      width: 120px;
      height: 120px;
      margin-left: -150px;
      // border-radius: 50%;
      background-size: cover;
      background-position: center;
      max-width: 100%;
      display: block;
      float: left;
      // Teardrop shape
      // border-top-left-radius: 50%;
      // border-bottom-right-radius: 50%;
      // border-bottom-left-radius: 50%;
    }
  }
  &-bio {
    border-bottom: 2px solid lightGray;
    // padding-bottom: 2rem!important;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 0;
    small {
      opacity: 0.5;
    }
  }
  p {
    margin-top: 0;
  }
  &-links {
    background: lightGray;
    padding: .5rem;
    padding-left: .5rem!important;
    border-radius: 4px;
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 1.5rem;
    }
  }
}

// Courses you could take
.courses-you-could-take {
  color: black;
  li.active {
    border-radius: 4px;
    overflow: hidden;
  }
  .collapsible-body {
    background: rgb(232, 232, 232);
    p {
      padding: 1em;
      font-size: .8rem;
      line-height: 1.5em;
    }
  }
}

// Coursebox
.course-box {
  display: block;
  float: right;
  background: #fff4de;
  padding: 1rem;
  margin-left: 1rem;
  max-width: 420px;
  width: 40%;
  font-size: .85rem;
  line-height: 1.5rem;
  @media #{$medium-and-down} {
    width: 100%;
    float: none;
  }
}