footer.page-footer {
  margin-top: 0;
  .taller {
    font-family: "Open Sans Condensed", Impact, sans-serif;
    font-size: 1.4rem;
    line-height: .85rem;
  }
  a {
    display: block;
    &:focus, &:active {
      outline: 2px dotted white;
    }
  }
  .footer-copyright {
    background-color: rgba(0,0,0,.75);
  }
}
