main {
  // background: $tu-light-gray;
  font-family: $content-font-family;
  font-weight: 300;
  b, strong {
    font-weight: bold;
  }
  & > .container {
    padding: 0 20px;
    max-width: calc(1180px + 40px);
  }
  & > .container {
    width: calc(90% + 40px);
  }
  @media #{$medium-and-up} {
    & > .container {
      width: calc(90% + 40px);
    }
  }
  @media #{$large-and-up} {
    & > .container {
      width: calc(95% + 40px);
      max-width: calc(1180px + 40px);
      // max-width: 996px;
    }
  }
  .page-content {
    background: transparent;
  }
  .page-header .container, .page-content {
    padding: 2rem;
  }
  .page-header h1 {
    color: black;
  }
}
// Larger containers
@media #{$medium-and-up} {
  .container {
    width: 90%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 95%;
    max-width: 1180px;
  }
}

// Lead
.lead { //, .content-homepage > p:first-of-type {
  font-size: 1.35em;
  line-height: 1.35em;
}

// Page header
.page-header {
  border-bottom: 4px solid lightgray;
  padding-bottom: .5rem;
}

// Page feature
.page-feature {
  border-bottom: 4px solid #808C90;
  .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  background-size: cover;
  background-position: center;
  height: 50vh;
  min-height: 350px;
  max-height: 450px;
  text-align: center;
  color: white;
  padding-top: 1rem;
  
  h1, h2, {
    color: white;
  }
  .headline {
    text-align: left;
    max-width: 450px;
    border: 4px solid white;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
  }
}

// Sidebar
.page-sidebar {
  background: rgb(128, 140, 144);
  margin-top: -2rem;
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
  margin-right: -1em;
  padding-right: 1em;
  color: white;
  border-bottom-left-radius: 8px;
  a {
    color: white;
    // text-decoration: underline;
  }
}

// Page content

// Feed content
a.feed-item {
  display: block;
  border-bottom: 1px solid lightgray;
  padding: 1em 0;
  &:hover {
    background: whitesmoke;
  }
  strong {
    display: block;
  }
  .meta {
    color: gray;
  }
}