/* ==========================================================================
   Materialize variables
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Colors
 *  2. Badges
 *  3. Buttons
 *  4. Cards
 *  5. Collapsible
 *  6. Chips
 *  7. Date Picker
 *  8. Dropdown
 *  10. Forms
 *  11. Global
 *  12. Grid
 *  13. Navigation Bar
 *  14. Side Navigation
 *  15. Photo Slider
 *  16. Spinners | Loaders
 *  17. Tabs
 *  18. Tables
 *  19. Toasts
 *  20. Typography
 *  21. Footer
 *  22. Flow Text
 *  23. Collections
 *  24. Progress Bar
 */


/* 1. Colors
   ========================================================================== */

$primary-color: $tu-cherry;
$primary-color-light: $tu-bright-cherry;
$primary-color-dark: $tu-slate;

$secondary-color: $tu-charcoal;
$success-color: $tu-olive;
$error-color: $tu-alert;
$link-color: $tu-cherry;


/* 13a. University Navigation Bar
   ========================================================================== */

$navbar-university-height: 50px;
$navbar-university-height-mobile: 50px;
$navbar-university-font-size: .85rem;
$navbar-university-font-color: #222222;
$navbar-university-backgroud-color: $tu-light-gray;
$navbar-university-brand-font-size: 2.1rem;


/* 21. Footer
   ========================================================================== */

$footer-bg-color: $tu-charcoal;
