<div class="feeds">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        {% if site.data.news == null or site.data.news[0] == null %}
        {% capture news_link %}
        {{ site.program_news }}
        {% endcapture %}
          {% include cards/card2-basic.html color="black" title="News" content="We are daring, ambitious, creative thinkers. Simultaneously civic-minded and globally conscious, our students and faculty are engaged in the community and care about our world." button-link="https://liberalarts.temple.edu/news" button-text="Read Our Stories" %}
        {% else %}
          <h2>Recent News</h2>
          {% for item in site.data.news limit:4 %}
            <a href="{{ item['Page Path'] }}" target="_blank" class="feed-item">
              <strong>{{ item['Title'] }}</strong>
              <span class="meta">{{ item['Sort Date'] }}</span>
            </a>
          {% endfor %}
          <br>
          <a class="btn btn-large waves-effect white grey-text darken-text-2" href="{{ news_link }}" data-proofer-ignore >More News <i class="material-icons">navigate_next</i></a>
        {% endif %}
      </div>
      <div class="col s12 m6">
        {% if site.data.events == null or site.data.events[0] == null %}
        {% capture events_link %}
        {{ site.program_events }}
        {% endcapture %}
          {% include cards/card2-basic.html color="black" title="Events" content="From lectures, to film screenings, to networking opportunities with some of the region's biggest employers, events at the College of Liberal Arts are designed to support your life's work." button-link="https://events.temple.edu/department/college-of-liberal-arts" button-text="View Events" %}
        {% else %}
          <h2>Upcoming Events</h2>
          {% for item in site.data.events limit:4 %}
            <a href="{{ item['Event Link'] }}" target="_blank" class="feed-item">
              <strong>{{ item['Title'] }}</strong>
              <span class="meta">{{ item['Sort Date'] }}</span>
            </a>
          {% endfor %}
          <br>
          <a class="btn btn-large waves-effect white grey-text darken-text-2" href="{{ events_link }}" data-proofer-ignore >More Events <i class="material-icons">navigate_next</i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
