<!DOCTYPE html>
<html>
{% include head.html %}
{% if site.palette %}
  <body class="{{ site.palette }}">
{% else %}
  <body>
{% endif %}
    {% if site.google_tag_manager %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- should need this but just in case -->
    {% elsif site.google_analytics %}
      {% include google_analytics.html %}
    {% endif %}
    <!-- end the just in case -->
    {{ content }}
  </body>
</html>
