---
layout: page-blank
published: true
---

<div class="content" style="padding-bottom:1.4em">
  {{ content }}
</div>

<!-- <p>Filters and quick search go here!</p>
 -->
<div class="container">
  {% for person in site.data.profiles %}
  <div class="profile card row">
    <div class="col s12 m4 push-m2">
      <p><a class="flow-text" href="{{ person['Path'] }}" target="_blank"> {{ person['First Name'] }} {{ person['Last Name'] }}</a></p>
      <p class='flow-text"'><em>{{ person['Faculty Title'] }}</em></p>
      <p class=""> {{ person['Program'] }}</p>
    </div>

    <div class="person-headshot col s12 m2 pull-m4">
      <a href="{{ person['Path'] }}" target="_blank"><img src="{{ person['Headshot Path'] }}" alt="Photo of {{ person['First Name'] }}"></a>
    </div>
    <div class="col s12 m3">
        {% if person['Office'] %}
          <i class="material-icons">location_city</i> {{ person['Office'] }} {{ person['Building '] }}<br>
          <span> {{ person['Street Address'] }}</span><br>
          <span> {{ person['City'] }} {{ person['State'] }} {{ person['Zip Code'] }}</span><br>
        {% endif %}
    </div>
    <div class="col s12 m3">
      <!-- office phone -->
      {% if person['Phone'] %}{% if person['Phone'] != "" %}
        <i class="material-icons">phone</i> <a href="tel:{{ person['Phone'] }}"><br>
          {% if person['Phone'].size == 10 %}
            +1 ({{ person['Phone'] | slice: 0, 3 }}) {{ person['Phone'] | slice: 3, 3 }}.{{ person['Phone'] | slice: 6, 4 }}
          {% elsif person.phone.size == 11 %}
            +1 ({{ person['Phone'] | slice: 1, 3 }}) {{ person['Phone'] | slice: 4, 3 }}.{{ person['Phone'] | slice: 7, 4 }}
          {% else %}
            {{ person['Phone'] }}
          {% endif %}
        </a>
      {% endif %}{% endif %}
      <!-- temple email -->
      {% if person['Web Email'] %}{% if person['Web Email'] != "Web Email" %}{% if person['Web Email'] != "" %}
        <i class="material-icons">email</i> <a href="mailto:{{ person['Web Email'] }}">Email</a><br>
      {% endif %}{% endif %}{% endif %}
      <!-- personal website -->
      {% if person['Website'] %}{% if person['Website'] != "Website" %}{% if person['Website'] != "" %}
        <i class="material-icons">link</i> <a href="{{ person['Website'] }}" title="Personal Web Page for {{ person['First Name'] }}" target="_blank">Website</a><br>
      {% endif %}{% endif %}{% endif %}
      <!-- CV Link -->
      {% if person['CV Link'] %}{% if person['CV Link'] != "CV Link" %}{% if person['CV Link'] != "" %}
        <i class="material-icons">link</i> <a href="{{ person['CV Link'] }}" title="CV for {{ person['First Name'] }}" target="_blank">Download CV</a><br>
      {% endif %}{% endif %}{% endif %}
      <!-- CV Upload -->
      {% if person['CV Upload'] %}{% if person['CV Upload'] != "CV Upload" %}{% if person['CV Upload'] != "" %}
        <i class="material-icons">file_download</i> <a href="{{ person['CV Upload'] }}" title="Download CV for {{ person['First Name'] }}" target="_blank">Download CV</a><br>
      {% endif %}{% endif %}{% endif %}
    </div>
  </div>
  {% endfor %}
</div>
