---
layout: page-blank
---

<div class="content">
  {{ content }}
</div>

<!-- <p>Filters and quick search go here!</p>
 -->

<div class="container">
{% for person in site.data.profiles %}
<div class="profile row">3
  <div class="col s12 m4 push-m3">
    <!-- <p><a class="flow-text" href="{{ person['Path'] }}"> {{ person['First Name'] }} {{ person['Last Name'] }}</a></p> -->
    <p class="flow-text"> {{ person['First Name'] }} {{ person['Last Name'] }}</</p>
    <p><small>{{ person['Faculty Title'] }}</small></p>
    <p><a href="/religion">Religion</a></p>
  </div>

  <div class="person-headshot col s12 m3 pull-m4">
    <!-- <a href="{{ person['Path'] }}"><img src="{{ person['Headshot Path'] }}" alt="Photo of {{ person['First Name'] }}"></a>  -->
    <img src="{{ person['Headshot Path'] }}" alt="Photo of {{ person['First Name'] }}">
  </div>
  <div class="col s12 m3">
      {% if person['Office'] %}
        <i class="material-icons">location_city</i> {{ person['Building '] }}{% if person['Office'] %} {{ person['Office'] }}{% endif %}
      {% endif %}
  </div>
  <div col s12 m2>
      {% if person['Web Email'] %}
        <i class="material-icons">email</i> <a href="mailto:{{ person['Web Email'] }}">{{ person['Web Email'] }}</a>
      {% endif %}
  </div>
</div>
{% endfor %}
</div>
