---
layout: doc
---

{% include header.html %}

<main>

{% if page.feature %}
<div class="page-feature" style="background-image: url('{{ page.feature-image }}');">
  <div class="content">
      <h1>{{ page.feature-title }}</h1>
      <p>{{ page.feature-body }}</p>
  </div>
</div>
{% endif %}

<div class="page-content">

  {% if page.sidebar %}<div class="row">
    <div class="col m12 l8">{% endif %}

      <div class="content content-homepage">
        {{ content }}
      </div>

    {% if page.sidebar %}</div><!-- /.col.l8 -->{% endif %}
    {% if page.sidebar %}
    <div class="col m12 l4 page-sidebar">
      <div class="col s12 m6 l12">
        {% if site.data.courses %}
        <h5>Courses you could take:</h5>
        {% include components/course-collapsible.html %}
        <p class="center">
          <a href="http://bulletin.temple.edu" target="_blank">Course Bulletin</a>
        </p>
        {% endif %}
      </div>
      <div class="col s12 m6 l12">
        <h5>Follow us on:</h5>
        {% include components/social.html color='white' %}
      </div>
    </div>
  {% endif %}
  {% if page.sidebar %}</div><!-- /.row -->{% endif %}

  {% if site.events-feed %}
  <div class="content feeds">
    <div>
      <div class="row">
        <div class="col s12 m6">
          {% if site.data.news == null %}
            {% include cards/card2-basic.html color="black" title="News" content="We are daring, ambitious, creative thinkers. Simultaneously civic-minded and globally conscious, our students and faculty are engaged in the community and care about our world." button-link="http://liberalarts.temple.edu/about-us/newsroom" button-text="Read Our Stories" %}
          {% else %}
            <h2>Recent News</h2>
            {% for item in site.data.news limit:4 %}
              <a href="{{ item['Page Path'] }}" target="_blank" class="feed-item">
                <strong>{{ item['Title'] }}</strong>
                <span class="meta">{{ item['Sort Date'] }}</span>
              </a>
            {% endfor %}
            <br>
            <a class="btn btn-large waves-effect white grey-text darken-text-2" href="http://liberalarts.temple.edu/about-us/newsroom">More News <i class="material-icons">navigate_next</i></a>
          {% endif %}
        </div>
        <div class="col s12 m6">
          {% if site.data.events == null %}
            {% include cards/card2-basic.html color="black" title="Events" content="From lectures, to film screenings, to networking opportunities with some of the region's biggest employers, events at the College of Liberal Arts are designed to support your life's work." button-link="https://liberalarts.temple.edu/about-us/events" button-text="View Events" %}
          {% else %}
            <h2>Upcoming Events</h2>
            {% for item in site.data.events limit:4 %}
              <a href="{{ item['Page Path'] }}" target="_blank" class="feed-item">
                <strong>{{ item['Title'] }}</strong>
                <span class="meta">{{ item['Sort Date'] }}</span>
              </a>
            {% endfor %}
            <br>
            <a class="btn btn-large waves-effect white grey-text darken-text-2" href="http://liberalarts.temple.edu/about-us/events">More Events <i class="material-icons">navigate_next</i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>
</main>

{% include footer.html %}
