---
layout: doc
---
<!--@todo the dark class is hardcoded into this layout. it needs to be set in repo's _config or as a page frontmatter overrtide. default can be hardcoded here. -->
<!-- <div class="tla-dark" style="background: white"> -->
<!-- add new header this one is in TUTheme and using page variable from frontmatter in ppv-psm-gis.md -->
<header class="tla-header">
  {% include tla-header.html %}
</header>
<!-- tla-page -->
<!-- hero is not smart yet. It lives in the site program repo  @todo make it a smart hero -->

<main>

  {% if page.hero %}
  <!-- {% include {{ page.hero }} %} -->
  {% endif %}
  <!-- content comes fromt the page's markdown in the programs repo-->

  <div class="page-content">
    <div class="hz-bg-band">
      <div id="content-container" class="container z-depth-4">
        <div class="row">

          {% if page.sidebar %}
          <div class="col s11 offset-s1 m11 offset-m1 l6 offset-l1">{{ content }}</div>
          <div class="col s11 offset-s1 m11 offset-m1 l5"> {% include {{ page.sidebar }} %} </div>
          {% else %}
          <div class="col s12">{{ content }}</div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}

<!-- @note that we can taget elements by using the selectors .dark, .ppv-header, .ppv-main, and ppv-footer
  this file is part of the TUTheme theme https://github.com/TULiberalArts/TUtheme -->
