---
layout: doc
---
<header class="tla-header">
  {% include tla-header.html %}
</header>
<!-- tla-faculty -->
<main>
  {% if page.title %}
  <div class="page-header">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  {% endif %}
  <div class="page-content">
    <div class="container">
      {{ content }}
      <!-- there is persons -->
      {% if page.faculty %}
      {% include {{ page.faculty }} %}
      {% endif %}
      <!-- if there are affiliated -->
      {% if page.affiliated %}
      {% include {{ page.affiliated }} %}
      {% endif %}
      <!-- if there are emeritus -->
      {% if page.emeritus %}
      {% include {{ page.emeritus }} %}
      {% endif %}
      <!-- if there are postdoctoral -->
      {% if page.postdoctoral_fellows %}
      {% include {{ page.postdoctoral_fellows }} %}
      {% endif %}
      <!-- if there is a staff list -->
      {% if page.staff %}
      {% include {{ page.staff }} %}
      {% endif %}
    </div>
  </div>
</main>
{% include footer.html %}
